html,
body {
  height: 100%;
}

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.section{
  // height: 100vh;
  height: 100%;
  min-height: 40.625rem;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 58.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--first {
    justify-content: space-between;
  }
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}