html{
  height: 100%;
  font-size: 14px;
  @include tablets{
    font-size: 13px;
  }
  @include phones{
    font-size: 12px;
  }
}

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
}
.is-locked{
  overflow: hidden;
}

.wrapper {
  height: 100%;
  position: relative;
}

.section{
  height: 100%;
  min-height: rem(650px);
  overflow: hidden;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: rem(940px);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablets {
    width: 95%;
  }
  &--first {
    justify-content: space-between;
  }
  &--slider {
    overflow: hidden;
  }
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}