// colors
$yellow: #f9b43b;
$red: #e45028;
$black:rgb(47, 50, 52);
$black-alfa:rgba(47, 50, 52, 0.8);
// setup
@import "./fonts";
@import "./mixin";
@import "./layouts/base";
// blocks
@import "./blocks/title";
@import "./blocks/btns";
@import "./blocks/first";
@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/we";
@import "./blocks/reviews";
@import "./blocks/slider";
@import "./blocks/points";