@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lifehack";
  src: url("../fonts/LifehackMedium.woff2") format("woff2"), url("../fonts/LifehackMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  height: 100%;
  font-size: 14px;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
}

.is-locked {
  overflow: hidden;
}

.wrapper {
  height: 100%;
  position: relative;
}

.section {
  height: 100%;
  min-height: 46.42857rem;
  overflow: hidden;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 67.14286rem;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

.container--first {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container--slider {
  overflow: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title-yellow {
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #f9b43b;
  font-weight: normal;
}

.title-black {
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #2f3234;
  font-weight: normal;
}

.title-white {
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #fff;
  font-weight: normal;
}

.title-red {
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #e45028;
  font-weight: normal;
}

.title-h4 {
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
}

.btn {
  padding: 0.71429rem 1.07143rem;
  color: #fff;
  -webkit-border-radius: 0.35714rem;
          border-radius: 0.35714rem;
  display: inline-block;
}

.btn-red {
  background: #e45028;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-black {
  background: #2f3234;
  text-transform: uppercase;
  font-weight: 500;
}

.first {
  background: url("../img/bg/first-bg.png") no-repeat center center/cover;
}

.first__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8%;
}

@media (max-width: 768px) {
  .first__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.first__pic {
  margin-right: 3%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.first__img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .first__img {
    max-width: 75%;
    max-height: 75%;
  }
}

.first__desc {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 8%;
}

.first__tittle {
  margin-bottom: 5%;
}

@media (max-width: 480px) {
  .first__tittle {
    font-size: 4.5rem;
  }
}

.first__text {
  font-family: LifeHack;
  font-weight: normal;
  font-size: 4.64286rem;
  color: #fff;
  line-height: 4.21429rem;
}

@media (max-width: 480px) {
  .first__text {
    font-size: 3.85714rem;
  }
}

.next-screen {
  margin-bottom: 4%;
}

.arrow-pic {
  width: 3.57143rem;
  height: 2.14286rem;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.arrow-pic:hover {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

@media (max-width: 480px) {
  .arrow-pic {
    width: 2.85714rem;
    height: 1.42857rem;
  }
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.85714rem;
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__logo {
    margin-top: 0.71429rem;
  }
}

@media (max-width: 768px) {
  .header__order {
    margin-right: 10%;
  }
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2%;
}

.nav__item {
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 0.92857rem;
}

.nav__item::after {
  content: '\2022';
  color: #fff;
  margin: 0 1.07143rem;
}

.nav__item:last-child::after {
  display: none;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #fff;
}

.nav__link:hover {
  text-decoration: underline;
}

.we {
  background: url("../img/bg/bg.png") no-repeat center center/cover;
}

.we__title {
  margin-bottom: 8%;
}

@media (max-width: 480px) {
  .we__title {
    font-size: 3.57143rem;
    margin-top: 15%;
  }
}

.features__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 3%;
}

.features__item:last-child {
  margin-right: 0;
}

@media (max-width: 480px) {
  .features__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: initial;
    text-align: left;
  }
}

.features__pic {
  height: 100%;
  width: 100%;
}

@media (max-width: 480px) {
  .features__pic {
    width: 10.71429rem;
  }
}

.features__img {
  height: 7rem;
  margin-bottom: 18%;
}

.features__title {
  font-family: LifeHack;
  font-weight: normal;
  font-size: 1.71429rem;
  color: #2f3234;
  margin-bottom: 10%;
}

.features__text {
  line-height: 1.57143rem;
  color: rgba(47, 50, 52, 0.8);
}

.team {
  background: url("../img/bg/team.png") no-repeat center center/cover;
  position: relative;
}

.team__nav {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2f3234;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .team__nav {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .team__title {
    font-size: 3.57143rem;
    margin-bottom: 3.92857rem;
  }
}

.team__menu {
  padding: 3.92857rem 6.78571rem 0 7.14286rem;
}

@media (max-width: 768px) {
  .team__menu {
    padding: 0 4rem;
  }
}

@media (max-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__item {
  margin-bottom: 2.14286rem;
}

.team:last-child {
  margin-bottom: 0;
}

.team__row {
  text-align: left;
}

.team__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  position: relative;
}

@media (max-width: 768px) {
  .team__link {
    font-size: 1.78571rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__expand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  height: 0;
  overflow: hidden;
  padding-top: 1.42857rem;
}

@media (max-width: 768px) {
  .team__expand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__pic {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 7.14286rem;
  width: 7.14286rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.57143rem;
}

@media (max-width: 768px) {
  .team__pic {
    margin-right: initial;
    margin-bottom: 1.78571rem;
  }
}

.team__img {
  height: 100%;
}

.team__desc {
  text-align: left;
}

@media (max-width: 768px) {
  .team__desc {
    text-align: center;
  }
}

.team .team__item.is-active .team__link {
  color: #f9b43b;
}

.team .team__item.is-active .team__expand {
  height: auto;
}

@media (max-width: 768px) {
  .team .team__item.is-active .team__expand {
    height: 15.71429rem;
  }
}

.team .team__item.is-active .link-ico {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team .link-ico {
  margin-right: 0.71429rem;
}

.team .desc-title {
  font-weight: 700;
  margin-bottom: 1.78571rem;
}

@media (max-width: 480px) {
  .team .desc-title {
    margin-bottom: 1.07143rem;
  }
}

.team .desc-text {
  line-height: 1.71429rem;
}

.menu {
  position: relative;
  background: url("../img/bg/menu-bg.png") no-repeat center center/cover;
}

.menu__title {
  margin: 8.07143rem 0 0 5.21429rem;
}

.accordeon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.accordeon__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.accordeon__link {
  height: 100%;
  width: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #fff;
  font-weight: normal;
  font-size: 2.85714rem;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.accordeon__block {
  line-height: 5rem;
  white-space: nowrap;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.accordeon__expand {
  overflow: hidden;
  height: 100%;
  width: 0;
  background: rgba(47, 50, 52, 0.8);
  color: #fff;
  line-height: 2.85714rem;
}

.accordeon__txt {
  padding: 4.28571rem 2.14286rem;
}

.accordeon__item.is-active .accordeon__expand {
  width: 39.28571rem;
}

@media (max-width: 768px) {
  .accordeon__item.is-active .accordeon__expand {
    width: 100%;
    line-height: 2.14286rem;
  }
}

.accordeon__item.is-active .accordeon__link {
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #f9b43b;
  font-weight: normal;
  font-size: 2.85714rem;
}

.reviews {
  background-color: #000;
}

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: relative;
}

@media (max-width: 768px) {
  .reviews__item {
    width: 50%;
    height: 25%;
  }
}

.reviews__photo {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.reviews__title {
  text-transform: uppercase;
  margin-bottom: 8%;
  letter-spacing: 0.07143rem;
}

@media (max-width: 768px) {
  .reviews__title {
    margin-bottom: 5%;
  }
}

@media (max-width: 480px) {
  .reviews__title {
    font-size: 1.71429rem;
    margin-bottom: 15%;
  }
}

.reviews__text {
  color: #fff;
  margin-bottom: 5%;
  line-height: 1.78571rem;
}

@media (max-width: 768px) {
  .reviews__text {
    line-height: 1.42857rem;
  }
}

@media (max-width: 480px) {
  .reviews__text {
    display: none;
  }
}

.reviews__hover-block {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 15% 9% 0 5%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

@media (max-width: 768px) {
  .reviews__hover-block {
    padding: 5% 10% 0 10%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .reviews__hover-block {
    padding: 15% 10% 0 10%;
  }
}

.reviews__hover-block:hover {
  opacity: 1;
}

.delivery {
  background: url("../img/bg/delivery-bg.png") no-repeat center center/cover;
}

.delivery__title {
  margin-bottom: 10%;
  text-align: center;
}

@media (max-width: 480px) {
  .delivery__title {
    font-size: 2.5rem;
  }
}

.delivery__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

@media (max-width: 768px) {
  .delivery__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.delivery__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.42857rem;
}

@media (max-width: 768px) {
  .delivery__left {
    margin-right: initial;
  }
}

.delivery__right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.delivery__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.42857rem;
}

.delivery__input {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.42857rem;
}

.delivery__input:first-child {
  margin-left: 0;
}

.delivery__input-title {
  margin-bottom: 0.71429rem;
}

.delivery__input-text {
  width: 100%;
  height: 2.5rem;
  border: 0.14286rem solid transparent;
  -webkit-border-radius: 0.35714rem;
          border-radius: 0.35714rem;
  padding-left: 1.42857rem;
}

.delivery__textarea {
  resize: none;
  height: 7.71429rem;
}

.delivery__input-text:focus {
  outline: none;
  border: 0.14286rem solid #f9b43b;
}

@media (max-width: 480px) {
  .delivery-floor {
    display: none;
  }
}

.delivery__textarea-label {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.delivery__radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  margin-right: 1.42857rem;
}

.delivery__radio-elem {
  position: absolute;
  top: 0;
  left: -9999px;
}

.delivery__radio-fake {
  position: relative;
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  margin-right: 0.78571rem;
}

.delivery__radio-fake::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e45028;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.delivery__radio-elem:checked + .delivery__radio-fake::after {
  width: 0.5rem;
  height: 0.5rem;
}

.delivery__chbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.delivery__chbox-elem {
  position: absolute;
  top: 0;
  left: -9999px;
}

.delivery__chbox-fake {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  margin-right: 0.78571rem;
}

.delivery__chbox-fake::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.78571rem;
  height: 0.64286rem;
  background: center transparent no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.delivery__chbox-elem:checked + .delivery__chbox-fake::after {
  background-image: url("../img/icons/check.svg");
}

@media (max-width: 480px) {
  .row-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2.14286rem;
  }
}

@media (max-width: 480px) {
  .area-margin {
    margin-bottom: 2.14286rem;
  }
}

.slider {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(0deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
}

.slider__prev {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1;
  left: -1.07143rem;
  height: 20%;
}

@media (max-width: 768px) {
  .slider__prev {
    left: 0;
  }
}

.slider__next {
  position: absolute;
  z-index: 1;
  right: -1.07143rem;
  height: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .slider__next {
    right: 0;
  }
}

.slider__elems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 67.14286rem;
}

@media (max-width: 768px) {
  .slider__elems {
    width: 54.85714rem;
  }
}

@media (max-width: 480px) {
  .slider__elems {
    width: 34.28571rem;
  }
}

.slider__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  right: 0;
  -webkit-transition: right .2s;
  -o-transition: right .2s;
  transition: right .2s;
}

.slider__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 67.14286rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .slider__item {
    width: 54.85714rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .slider__item {
    width: 34.28571rem;
  }
}

.slider__pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider__img {
  max-width: 95%;
}

@media (max-width: 768px) {
  .slider__img {
    max-width: 65%;
  }
}

@media (max-width: 480px) {
  .slider__img {
    max-width: 50%;
  }
}

.slider__desc {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 480px) {
  .slider__desc {
    padding: 0 15%;
  }
}

.slider__title {
  line-height: 4.64286rem;
  margin-bottom: 3.92857rem;
}

@media (max-width: 480px) {
  .slider__title {
    font-size: 3.21429rem;
    line-height: 3.21429rem;
    margin-bottom: 1.42857rem;
  }
}

.slider__text {
  color: #fff;
  line-height: 1.71429rem;
  margin-bottom: 1.78571rem;
}

@media (max-width: 768px) {
  .slider__text {
    margin-bottom: 3.57143rem;
  }
}

@media (max-width: 480px) {
  .slider__text {
    line-height: 1.42857rem;
    margin-bottom: 1.07143rem;
  }
}

.slider__icon-text {
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.07143rem;
}

.slider__order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 768px) {
  .slider__order {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.recipe {
  position: absolute;
  top: 15%;
  left: 5%;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 1% 0;
  height: 6.42857rem;
  width: 6.42857rem;
  background-color: rgba(227, 80, 40, 0.4);
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  -webkit-border-radius: 0.35714rem;
          border-radius: 0.35714rem;
}

.recipe:hover {
  background-color: #e35028;
}

@media (max-width: 768px) {
  .recipe {
    top: 5%;
    left: 10%;
  }
}

@media (max-width: 480px) {
  .recipe {
    left: 15%;
  }
}

.recipe__dropdown {
  cursor: default;
  position: absolute;
  top: 0;
  left: -9999px;
  opacity: 0;
  -webkit-border-radius: 0.35714rem;
          border-radius: 0.35714rem;
  background-color: #fff;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.recipe__list {
  padding: 1.07143rem 1.07143rem;
}

.recipe__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipe:hover .recipe__dropdown {
  left: 100%;
  opacity: 1;
}

.row-pic {
  width: 3.21429rem;
  height: 3.21429rem;
  margin-right: 1.78571rem;
}

.row-text {
  font-weight: 500;
  margin-right: 4.28571rem;
}

.ico-weight {
  position: absolute;
  bottom: 15%;
  left: 5%;
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .ico-weight {
    left: initial;
    bottom: initial;
    top: 5%;
    right: 10%;
  }
}

@media (max-width: 480px) {
  .ico-weight {
    right: 15%;
  }
}

.text-big {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.42857rem;
}

.order-price {
  margin-right: 0.71429rem;
}

@media (max-width: 768px) {
  .order-price {
    font-size: 3.57143rem;
  }
}

.order-currency {
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #e45028;
  font-weight: normal;
  font-size: 2.14286rem;
  margin-right: 2.14286rem;
}

@media (max-width: 480px) {
  .order-currency {
    font-size: 1.71429rem;
  }
}

.arrow-left {
  width: 3.57143rem;
  height: 2.14286rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.arrow-left:hover {
  -webkit-transform: rotate(90deg) scale(0.8);
      -ms-transform: rotate(90deg) scale(0.8);
          transform: rotate(90deg) scale(0.8);
}

@media (max-width: 480px) {
  .arrow-left {
    width: 2.85714rem;
    height: 1.42857rem;
  }
}

.arrow-right {
  width: 3.57143rem;
  height: 2.14286rem;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.arrow-right:hover {
  -webkit-transform: rotate(-90deg) scale(0.8);
      -ms-transform: rotate(-90deg) scale(0.8);
          transform: rotate(-90deg) scale(0.8);
}

@media (max-width: 480px) {
  .arrow-right {
    width: 2.85714rem;
    height: 1.42857rem;
  }
}

.map {
  position: relative;
  background: url(../img/bg/map.png) no-repeat center center/cover;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/bg/footer.jpg") center bottom;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 0 5.71429rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
}

@media (max-width: 480px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 15%;
  }
}

.contact {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

@media (max-width: 480px) {
  .contact {
    text-align: center;
    width: 100%;
  }
}

.contact__address {
  color: #fff;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .contact__address {
    margin-bottom: 0.42857rem;
  }
}

.contact__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .contact__phone {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.phone__img {
  margin-right: 0.64286rem;
}

.phone__link {
  color: #e45028;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 480px) {
  .social {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 1.42857rem;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  opacity: 0.5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.social__icon {
  height: 1.42857rem;
  width: 1.42857rem;
}

.social__link:hover {
  opacity: 1;
}

.points__link::before, .points__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: block;
}

.points {
  position: fixed;
  top: 15%;
  right: 3%;
}

@media (max-width: 768px) {
  .points {
    display: none;
  }
}

.points__item {
  margin-bottom: 1.14286rem;
}

.points__link {
  position: relative;
  width: 0.42857rem;
  height: 0.42857rem;
  display: block;
}

.points__link::before {
  width: 0.42857rem;
  height: 0.42857rem;
  background: #fff;
}

.points__link::after {
  width: 0;
  height: 0;
  border: 0.07143rem solid #fff;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.points__link:hover::after {
  width: 1.14286rem;
  height: 1.14286rem;
  opacity: 1;
}

.points__item.is-active .points__link::after {
  width: 1.14286rem;
  height: 1.14286rem;
  opacity: 1;
}

.hamburger-menu {
  background-color: rgba(47, 50, 52, 0.95);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  visibility: hidden;
  z-index: 5;
  -webkit-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}

.hamburger-menu__logo {
  position: absolute;
  left: 3%;
  top: 3%;
}

.hamburger-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 1.71429rem;
}

.hamburger-menu__item::after {
  content: '\2022';
  color: #fff;
  margin: 0.71429rem 0;
}

.hamburger-menu__item:last-child::after {
  display: none;
}

.hamburger-menu__link {
  color: #fff;
}

.hamburger-menu__link:hover {
  text-decoration: underline;
}

.hamburger-menu.is-active {
  visibility: visible;
  height: 100%;
}

.hamburger-link {
  display: none;
  height: 1.78571rem;
  position: fixed;
  right: 3%;
  top: 6%;
  z-index: 10;
}

@media (max-width: 768px) {
  .hamburger-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hamburger-bar, .hamburger-bar::before, .hamburger-bar::after {
  background-color: #fff;
  -webkit-border-radius: 0.21429rem;
          border-radius: 0.21429rem;
  height: 0.28571rem;
  width: 1.78571rem;
  display: block;
}

.hamburger-bar::before {
  content: "";
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.hamburger-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.hamburger-link.is-active .hamburger-bar {
  background-color: transparent;
}

.hamburger-link.is-active .hamburger-bar::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.78571rem;
}

.hamburger-link.is-active .hamburger-bar::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0.71429rem;
}

.review-modal__close, .review-modal__close::before, .review-modal__close::after {
  background-color: #e45028;
  -webkit-border-radius: 0.21429rem;
          border-radius: 0.21429rem;
  height: 0.28571rem;
  width: 1.78571rem;
  display: block;
}

.review-modal {
  max-width: 32.85714rem;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 3%;
          border-radius: 3%;
  padding: 1.42857rem;
}

.review-modal__title {
  font-family: Gagalin;
  font-size: 5.14286rem;
  color: #2f3234;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 30px;
}

.review-modal__text {
  line-height: 1.78571rem;
}

.review-modal__link {
  position: absolute;
  height: 1.78571rem;
  right: 3%;
  top: 10%;
}

.review-modal__close {
  background-color: transparent;
}

.review-modal__close::before {
  content: "";
  position: absolute;
  top: 0.78571rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.review-modal__close::after {
  content: "";
  position: absolute;
  bottom: 0.71429rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
