.btn {
  padding: 0.71em 1.07em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0.36em;
  font-weight: 500;
  display: inline-block;
  &-red{
    background: $red;
  }
  &-black{
    background: $black;
  }
}