.btn {
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  display: inline-block;
  &-red{
    background: $red;
  }
  &-black{
    background: $black;
  }
}