.delivery {
  background: url('../img/bg/delivery-bg.png') no-repeat center center / cover;
  &__title {
    margin-bottom: 10%;
    text-align: center;
    @include phones {
      font-size: rem(50px);
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    color: #fff;
    @include tablets {
      flex-direction: column;
    }
  }
  &__row {
    display: flex;
    margin-bottom: rem(20px);
  }
  &__input {
    margin-right: rem(20px);
  }
  &__input-title {
    margin-bottom: rem(10px);
  }
  &__input-text {
    height: rem(35px);
    border: rem(2px) solid transparent;
    border-radius: rem(5px);
    padding-left: rem(20px);
  }
  &__textarea {
    resize: none;
    width: rem(460px);
    height: rem(108px);
  }
  &__input-text:focus {
    outline: none;
    border: rem(2px) solid $yellow;
  }
  &-floor {
    @include phones {
      display: none;
    }
  }
}

.delivery__radio {
  display: flex;
  cursor: pointer;
  position: relative;
  margin-right: rem(20px);
  &-elem {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  &-fake {
    position: relative;
    width: rem(14px);
    height: rem(14px);
    border-radius: 50%;
    background-color: #fff;
    margin-right: rem(11px);
  }
  &-fake::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: $red;
    transition: .3s;
  }
}

.delivery__radio-elem:checked+.delivery__radio-fake::after {
  width: rem(7px);
  height: rem(7px);
}

.delivery__chbox {
  display: flex;
  position: relative;
  cursor: pointer;
  &-elem {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  &-fake {
    position: relative;
    width: rem(14px);
    height: rem(14px);
    background-color: #fff;
    margin-right: rem(11px);
  }
  &-fake::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(11px);
    height: rem(9px);
    background: center transparent no-repeat;
    background-size: contain;
  }
}

.delivery__chbox-elem:checked+.delivery__chbox-fake::after {
  background-image: url('../img/icons/check.svg');
}

.input-small {
  width: rem(100px);
  @include phones {
    width: rem(140px);
  }
}

.input-orig {
  width: rem(220px);
}

.input-large {
  width: rem(460px);
}
.row-center{
  @include phones{
    justify-content: center;
    margin-bottom: rem(40px);
  }
}
.area-margin{
  @include phones{
    margin-bottom: rem(40px);
  }
}