.delivery {
  background: url('../img/bg/delivery-bg.png') no-repeat center center / cover;
  &__title{
    margin-bottom: 10%;
  }
  &__content {
    display: flex;
    justify-content: center;
    color: #fff;
  }
  &__row {
    display: flex;
    margin-bottom: 1.43em;
  }
  &__input {
    margin-right: 1.43em;
  }
  &__input-title {
    margin-bottom: 0.71em;
  }
  &__input-text {
    height: 2.5em;
    border: 0.14em solid transparent;
    border-radius: 0.36em;
    padding-left: 1.43em;
  }
  &__textarea {
    resize: none;
    width: 32.86em;
    height: 7.71em;
  }
  &__input-text:focus {
    outline: none;
    border: 0.14em solid $yellow;
  }
}

.delivery__radio {
  display: flex;
  cursor: pointer;
  position: relative;
  margin-right: 1.43em;
  &-elem {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  &-fake {
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 0.8em;
  }
  &-fake::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: $red;
  }
}

.delivery__radio-elem:checked+.delivery__radio-fake::after{
  width: 0.5em;
  height: 0.5em;
}
.delivery__chbox{
  display: flex;
  position: relative;
  cursor: pointer;
  &-elem{
    position: absolute;
    top: 0;
    left: -9999px;
  }
  &-fake{
    position: relative;
    width: 1em;
    height: 1em;
    background-color: #fff;
    margin-right: 0.8em;
  }
  &-fake::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.78em;
    height: 0.64em;
    background: center transparent no-repeat;
    background-size: contain;
  }
}
.delivery__chbox-elem:checked+.delivery__chbox-fake::after{
  background-image: url('../img/icons/check.svg');
}

.input-small{
  width: 7.14em;
}
.input-orig{
  width: 15.71em;
}
.input-large{
  width: 32.86em;
}