.first {
  background: url('../img/bg/first-bg.png') no-repeat center center / cover;
  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 8%;
  }
  &__pic {
    margin-right: 15px;
    flex: 1;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__desc{
    flex: 1;
    padding-top: 8%;
  }
  &__tittle {
    margin-bottom: 25px;
  }
  &__text {
    @include lifehack;
    line-height: 55px;
  }
}

.next-screen {
  margin-bottom: 40px;
}