.first {
  background: url('../img/bg/first-bg.png') no-repeat center center / cover;
  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 8%;
    @include tablets {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  &__pic {
    margin-right: 3%;
    flex: 1;
    @include tablets{
      margin-right: initial;
      margin-bottom: 5%;
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    @include tablets {
      max-width: 75%;
      max-height: 75%;
    }
  }
  &__desc {
    flex: 1;
    padding-top: 8%;
    @include tablets{
      padding-top: initial;
    }
  }
  &__tittle {
    margin-bottom: 5%;
    @include phones {
     margin-bottom: 3%;
     font-size: rem(55px);
    }
  }
  &__text {
    @include lifehack;
    line-height: rem(59px);
    @include phones {
      line-height: rem(50px);
      font-size: rem(45px);
      }
  }
}

.next-screen {
  margin-bottom: 4%;
  @include phones{
    margin-bottom: 8%;
  }
}
.arrow-pic{
  width: rem(50px);
  height: rem(30px);
  transform: scale(1);
  transition: transform .2s;
  &:hover{
    transform: scale(.8);
  }
  @include phones{
    width: rem(40px);
    height: rem(20px);
  }
}