.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../img/bg/footer.jpg') center bottom;
  background-size: cover;
  padding: 0 rem(80px) 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  @include phones {
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 15%;
  }
}

.contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  @include phones {
    text-align: center;
    width: 100%;
  }
  &__address {
    color: #fff;
    margin-bottom: rem(14px);
    @include phones {
      margin-bottom: rem(6px);
    }
  }
  &__phone {
    display: flex;
    @include phones {
      justify-content: center;
    }
  }
}

.phone {
  &__img {
    margin-right: rem(9px);
  }
  &__link {
    color: $red;
    font-weight: 700;
    display: flex;
  }
}

.social {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  @include phones {
    justify-content: center;
    width: 100%
  }
  &__list {
    display: flex;
  }
  &__item {
    margin-right: rem(20px);
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    opacity: 0.5;
    transition: .5s;
  }
  &__icon {
    height: rem(20px);
    width: rem(20px);
  }
}

.social__link:hover {
  opacity: 1;
}