.hamburger-menu {
  background-color: rgba($black, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 0;
  visibility: hidden;
  z-index: 5;
  transition: height .2s;
  &__logo {
    position: absolute;
    left: 3%;
    top: 3%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: rem(24px);
    &::after {
      content: '\2022';
      color: #fff;
      margin: rem(10px) 0;
    }
    &:last-child::after {
      display: none;
    }
  }
  &__link {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

.hamburger-menu.is-active {
  visibility: visible;
  height: 100%;
}

.hamburger-link {
  cursor: pointer;
  display: none;
  height: rem(25px);
  position: fixed;
  right: 4%;
  top: 4.3%;
  z-index: 10;
  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include phones {
    top: 7.5%;
    right: 5%;
  }
}

%ham_line {
  background-color: #fff;
  border-radius: rem(3px);
  height: rem(4px);
  width: rem(25px);
  display: block;
}

.hamburger-bar {
  @extend %ham_line;
  &::before {
    content: "";
    @extend %ham_line;
    position: absolute;
    top: 0;
    transition: transform .3s;
  }
  &::after {
    content: "";
    @extend %ham_line;
    position: absolute;
    bottom: 0;
    transition: transform .3s;
  }
}

.hamburger-link.is-active {
  .hamburger-bar {
    background-color: transparent;
    &::before {
      transform: rotate(45deg);
      top: rem(11px);
    }
    &::after {
      transform: rotate(-45deg);
      bottom: rem(10px);
    }
  }
}