.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: rem(12px);
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablets{
      display: none;
    }
    @include phones{
      display: none;
    }
  }
  &__logo{
    @include tablets{
      margin-top: rem(10px);
    }
  }
  &__order{
    @include tablets{
    margin-right: 10%;
    }
  }

}
