.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
