.nav {
  &__list {
    display: flex;
    align-items: center;
    margin-right: 2%;
  }
  &__item {
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: rem(13px);
    &::after {
      content: '\2022';
      color: #fff;
      margin: 0 rem(15px);
    }
    &:last-child::after{
      display: none;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__link {
    color: #fff;
    &:hover{
      text-decoration: underline;
    }
  }
}
