.menu {
  &__list {
    display: flex;
    align-items: center;
    margin-right: 2%;
  }
  &__item {
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 0.93em;
    &::after {
      content: '\2022';
      color: #fff;
      margin: 0 1.08em;
    }
    &:last-child::after{
      display: none;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__link {
    color: #fff;
  }
}