%pseudo {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: block;
}

.points {
  position: fixed;
  top: 15%;
  right: 5%;
  &__item {
    margin-bottom: 1.14em;
  }
  &__link {
    position: relative;
    width: 0.43em;
    height: 0.43em;
    display: block;
    &::before {
      @extend %pseudo;
      width: 0.43em;
      height: 0.43em;
      background: #fff;
    }
    &::after {
      @extend %pseudo;
      width: 0;
      height: 0;
      border: 0.07em solid #fff;
      opacity: 0;
    }
    &-active::after {
      width: 1.14em;
      height: 1.14em;
      opacity: 1;
    }
    &:hover::after{
      width: 1.14em;
      height: 1.14em;
      opacity: 1;
    }
  }
}