%close_bar {
  background-color: rgb(228, 80, 40);
  border-radius: rem(3px);
  height: rem(4px);
  width: rem(25px);
  display: block;
}
.review-modal{
  background-color: rgba($black, 0.95);
  position: fixed;
  left:-9999px;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  z-index: 15;
  &__block{
  max-width: rem(460px);
  position: absolute;
  background-color: #fff;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 3%;
  padding: rem(20px);
  }
  &__title{
    @include gagalin($black);
    font-size: rem(14px);
    margin-bottom: (30px);
  }
  &__text{
    line-height: rem(25px);
    @include phones{
      line-height: rem(15px);
      font-size: rem(13px);
    }
  }
  &__link{
    position: absolute;
    height: rem(25px);
    right: 3%;
    top: 3%;
    transform: scale(1);
    transition: transform .2s;
    &:hover{
      transform: scale(.8);
    }
  }
  &__close{
    background-color: transparent;
    @extend %close_bar;
    &::before {
      content: "";
      @extend %close_bar;
      position: absolute;
      top: rem(11px);
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      @extend %close_bar;
      position: absolute;
      bottom: rem(10px);
      transform: rotate(-45deg);
    }
  }
}
.review-modal.is-active{
  height: 100%;
  opacity: 1;
  left:0;
}
