.reviews {
  background-color: #000;
  &__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  &__item {
    width: 25%;
    height: 50%;
    filter: grayscale(100%);
    position: relative;
    @include tablets {
      width: 50%;
      height: 25%;
    }
  }
  &__photo{
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 8%;
    letter-spacing: rem(1px);
    @include tablets{
      margin-bottom: 5%;
    }
    @include phones {
      font-size: rem(24px);
      margin-bottom: 15%;
    }
  }
  &__text {
    color: #fff;
    margin-bottom: 5%;
    line-height: rem(25px);
    @include tablets {
      line-height: rem(20px);
    }
    @include phones {
      display: none;
    }
  }
  &__hover-block {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15% 9% 0 5%;
    background: rgba(#000, .5);
    opacity: 0;
    transition: .5s;
    @include tablets {
      padding: 5% 10% 0 10%;
      text-align: center;
    }
    @include phones {
      padding: 15% 10% 0 10%;
    }
    &:hover {
      opacity: 1;
    }
  }
}