.slider {
  background: linear-gradient(0deg, rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%);
  &__prev {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 0;
    height: 20%;
    display: flex;
    align-items: center;
  }
  &__next{
    position: absolute;
    z-index: 1;
    right: 0;
    height: 20%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__elems{
    display: flex;
    overflow: hidden;
    width: rem(940px);
    @include tablets{
      width: rem(768px);
      height: 95%;
    }
    @include phones{
      width: rem(480px);
    }
  }
  &__list{
    display: flex;
    position: relative;
    right: 0;
    transition: right .2s;
  }
  &__item {
    display: flex;
    width: rem(940px);
    flex: 1;
    position: relative;
    @include tablets {
      width: rem(768px);
      flex-direction: column;
      text-align: center;
      align-self: flex-end;
    }
    @include phones{
      width: rem(480px);
    }
  }
  &__pic {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
  }
  &__img{
    max-width: 95%;
    @include tablets {
      max-width: 65%;
    }
    @include phones {
      max-width: 50%;
    }
  }
  &__desc {
    flex: 1;
    @include phones {
      padding: 0 15%;
    }
  }
  &__title {
    line-height: rem(65px);
    margin-bottom: rem(55px);
    @include tablets{
      font-size: rem(50px);
      margin-bottom: rem(30px);
      line-height: rem(45px);
    }
    @include phones{
      font-size: rem(45px);
      line-height: rem(45px);
      margin-bottom: rem(20px);
    }
  }
  &__text {
    color: #fff;
    line-height: rem(24px);
    margin-bottom: rem(25px);
    @include phones{
      line-height: rem(20px);
      margin-bottom: rem(15px);
    }
  }
  &__icon-text {
    @include gagalin(#fff);
    font-size: rem(14px);
    letter-spacing: rem(1px);
  }
  &__order {
    display: flex;
    align-items: baseline;
    @include tablets {
      justify-content: center;
    }
  }
}

.ico-recipe {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1% 0;
  height: rem(90px);
  width: rem(90px);
  background-color: rgba(227, 80, 40, 0.4);
  transition: background-color .3s;
  border-radius: rem(5px);
  &:hover{
    background-color: rgba(227, 80, 40, 1);
  }
  @include tablets{
    top: 0;
    left: 15%;
  }
  @include phones{
    top: -20%;
  }
}

.ico-weight {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0.5;
  @include tablets {
    left: initial;
    bottom: initial;
    top: 0;
    right: 15%;
  }
  @include phones{
    top: -20%;
  }
}

.text-big {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(20px);
}

.order {
  &-price {
    margin-right: rem(10px);
    @include tablets{
      font-size: rem(50px);
    }
  }
  &-currency {
    @include gagalin($red);
    font-size: rem(30px);
    margin-right: rem(30px);
    @include phones{
      font-size: rem(24px);
    }
  }
}
.arrow-left{
  transform: rotate(90deg);
}
.arrow-right{
  transform: rotate(-90deg);
}
.display_none{
  display: none;
}