.slider {
  background:linear-gradient(0deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
  &__content{
    display: flex;
    position: relative;
  }
  &__pic,&__desc{
    flex:1;
  }
  &__text{
    color: #fff;
  }
}
.ico-top{
  position: absolute;
  top:0;
  left: 0;
  height: rem(90px);
  width: rem(90px);
  opacity: 0.4;
  background-color: rgb(227, 80, 40);
  border-radius: rem(5px);
}
.ico-bottom{
  position: absolute;
  bottom:0;
  left: 0;
}