.title {
  &-yellow {
    @include gagalin($yellow);
  }
  &-black {
    @include gagalin($black);
  }
  &-white {
    @include gagalin(#fff);
  }
  &-red {
    @include gagalin($red);
  }
  &-h4 {
    @include gagalin(#fff);
    font-size: rem(14px);;
  }
}