.we {
  background: url('../img/bg/bg.png') no-repeat center center / cover;
  &__title {
    margin-bottom: 8%;
    @include phones{
      font-size: rem(50px);
      margin-top: 15%;
    }
  }
}

.features {
  &__list {
    display: flex;
    @include phones{
      flex-direction: column;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    margin-right: 3%;
    &:last-child {
      margin-right: 0;
    }
    @include phones{
      flex-direction: row;
      margin-right: initial;
      text-align: left;
    }
  }
  &__pic {
    height: 100%;
    width: 100%;
    @include phones{
    width: rem(150px);
    }
  }
  &__img {
    height: rem(98px);
    margin-bottom: 18%;
  }
  &__title {
    @include lifehack($black,
    rem(24px));
    margin-bottom: 10%;
  }
  &__text {
    line-height: rem(22px);
    color: $black-alfa;
  }
}