.we {
  background: url('../img/bg/bg.png') no-repeat center center / cover;
  &__title {
    margin-bottom: 8%;
  }
}

.features {
  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    margin-right: 3%;
    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    height: 5rem;
    margin-bottom: 18%;
  }
  &__title {
    @include lifehack($black,
    1.71em);
    margin-bottom: 10%;
  }
  &__text {
    line-height: 1.57em;
    color: $black-alfa;
  }
}