.work {
  position: relative;
  background: url(../img/bg/player-bg.png) no-repeat center center /cover;
  &__title{
    text-align: center;
    margin-bottom: rem(50px);
    @include phones{
      font-size: rem(50px);
    }
  }

}
